.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-container > * {
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  max-height: inherit !important;
}

.mat-dialog-actions {
  display: block !important;
  flex-grow: inherit;
  flex-shrink: inherit;
  padding: 12px 0 0 !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.mat-mdc-paginator {
  font-size: 12px;
  background-color: white;
}

@media (max-width: 600px) {
  .mat-mdc-paginator {
    font-size: 10px;
  }
  .mat-mdc-paginator-page-size {
    display: none; /* Hide page size selector on small screens */
  }
}
